rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permitir lectura y escritura solo si el usuario está autenticado y es el dueño del documento
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Permitir lectura y escritura para reservas solo si está autenticado
    match /reservas/{reservaId} {
      allow read, write: if request.auth != null;
    }

    // Denegar todo lo demás por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
